DATABASE_URL=postgresql://USER:PASS@HOST:PORT/DBNAME
SECRET_KEY=change-me
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=

FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_WEBHOOK_HASH=
ALPHA_VANTAGE_KEY=

PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_MODE=sandbox
BANK_NAME=
BANK_ACCOUNT_NAME=
BANK_ACCOUNT_NUMBER=
BANK_BRANCH=
